// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #EBD617;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange: #EAA90C;
$purple: #5023EB;
$mid-blue: #23CAEB;
$light-blue: #E0F6FC;
