<h1>Favourite Recipes</h1>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.name, recipe_path(recipe) %>
        <%= form_with url: favourite_path(recipe), method: :delete, local: true do |f| %>
          <%= f.submit "Remove from Favourites" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't added any recipes to your favourites yet.</p>
<% end %>
