.home-container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color: $light-blue;
}

.home-top-container {
  display: flex;
  justify-content: center;
}

.home-mid-container {
  padding: 12px;
}

.home-bot-container {
  padding-bottom: 54px;
}

.home-starters-btn {
  display: block;
  height: 80px;
  margin: 12px;
  background-color: $mid-blue;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-starters-text {
  color: $purple;
  font-size: 1.5em;
  text-align: left;
}
.home-starters-icon {
  font-size: 1.2em;
  margin-right: 40px;
  color: $purple;
}
