// Specific CSS for your home-page

.home-page {
  height: 100vh;
  background-color: $light-blue;
}

.home-container {
  padding-left: 0;
  padding-right: 0;
}

#home-logo {
  width: 100%;
  height: auto;
}

.home-starters-btn {
  display: block;
  height: 80px;
  // width: 100%;
  background-color: $mid-blue;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-starters-text {
  color: $purple;
  font-size: 1.5em;
  text-align: left;
}

.home-starters-icon {
  font-size: 1.2em;
  margin-right: 40px;
  color: $purple;
}
