<h5><%= business.name %></h5>
<p class="address-line"><%= business.street %></p>
<p class="address-line"><%= business.suburb %></p>
<p class="address-line"><%= "#{business.state} #{business.postcode}" %></p>

<style>
  .address-line {
    line-height: .2em;
  }
</style>
