<div class="home-page">
  <div class="container home-container logo-container">
    <img src="https://res.cloudinary.com/dpl1wgx0u/image/upload/v1684824557/Cheap%20Eats%20misc/ce-home-logo-lg_us13pz.png" id="home-logo">
  </div>
  <div class="container home-container middle-container">
    <span>Cheap Eats helps you find great deals on basic ingredients like fruit, vegetables, meat, dairy and pasta. <br>
    If you're not sure how to use them in the kitchen we've got recipes to help!</span>
  </div>
  <div class="container home-container starters-container">
    <div>
        <a href="<%= deals_path %>" class="home-starters-btn title-font">
          <span class="home-starters-text">Find a deal</span>
          <i class="fas fa-chevron-right home-starters-icon"></i>
        </a>
        <a href="<%= recipes_path %>" class="home-starters-btn title-font">
          <span class="home-starters-text">Grab a recipe</span>
          <i class="fas fa-chevron-right home-starters-icon"></i>
        </a>
    </div>
  </div>
</div>
