<div class="container logo">
  <img src="https://res.cloudinary.com/dpl1wgx0u/image/upload/v1683788167/Cheap%20Eats%20misc/ce-logo_kjg3tz.png" style="width: 100%; height: auto;">
</div>

<div class="card">
  <div class="container">
    <p>Find a deal, grab a recipe and eat better for cheaper! </p>
  </div>

  <div class="container deals">
    <center>
      <%= link_to "Find a deal", choice_path, class: "btn btn-secondary"%>
    </center>
  </div>
<br>
  <div class="container recipes">
    <center>
      <%= link_to "Grab a recipe", recipes_path, class: "btn btn-secondary"%>
    </center>
  </div>
</div>


<!--
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
