<div class="home-page">

  <div class="container">
    <img src="https://res.cloudinary.com/dpl1wgx0u/image/upload/v1683788167/Cheap%20Eats%20misc/ce-logo_kjg3tz.png" style="width: 100%; height: auto;">
  </div>

  <div class="container">
    <center>
      <%= link_to "Find a deal", deals_path, class: "home-starters-btn home-starters-text title-font"%>
    </center>

    <center>
      <%= link_to "Grab a recipe", recipes_path, class: "btn btn-secondary title-font"%>
    </center>
  </div>

<p>hello from home.html.erb</p>
</div>
<%#  %>
