<div class="text-center">
  <h1>Deals index</h1>
</div>

<div>
  <%= link_to "Go to new deal", new_deal_path %>
</div>

<div class="container" style="text-align: center;">
  <% @deals.each do |deal| %>
    <div class="row">
      <div class="card">
        <%= deal.name %>
        <% if deal.image.attached? %>
          <%= cl_image_tag deal.image.key, class:"mx-auto card-image", style: "border-radius: 2%;" "box-shadow: 5px 5px 3px grey; border: 2px solid black;" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
