<div class="d-flex justify-content-center">
  <h1>Deals index</h1>
</div>

<div class="container" style="text-align: center;">
  <div class="row">
    <% @deals.each do |deal| %>
      <%= deal.name %>
      <%# AT: image text Fri 05/05 %>
      <% if deal.image.attached? %>
        <%= cl_image_tag deal.image.key %>
      <% end %>
      <%# ############# %>
    <% end %>
  </div>
</div>

<%= link_to "Go to home", root_path %>
<%= link_to "Go to new deal", new_deal_path %>
