<h1 class="d-flex justify-content-center">Deals index</h1>

  <% @deals.each do |deal| %>
    <%= deal.name %>
  <% end %>

<%= link_to "Go to home", root_path %>
<%= link_to "Go to new deal", new_deal_path %>
