.btn-btn-recipe-new {
  color: #5023EB;
  border-radius: 10px;
  background-color: #23CAEB;
  width: 355px;
  text-align: center;
  font-weight: bold;
}

.btn-recipe-search-button {
  color: #5023EB;
  border-radius: 15px;
  background-color: #23CAEB;
  font-weight: bold;
  margin-right: auto;
  border: none;
  height: 30px;
}
