.card-deal-image {
  width: 100px;
  height: 100%;
  object-fit:cover;
  border-radius: 2%;
  box-shadow: 2px 2px 3px grey;
  border: 2px solid black;
}
.card-show {
  padding: 12px;
}

.card-show > .category-tag {
  padding: 4px;
}

.category-tag {

  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 8px 0px;
  padding: 4px;
  font-size: 0.750em;
  }

  .card-recipe-image {
    display: block;
    margin: auto;
    width: 80%;
    height: 100%;
    object-fit:cover;
    border-radius: 2%;
    box-shadow: 2px 2px 3px grey;
    border: 2px solid black;
  }

  .recipe-description, .recipe-title {
    margin: 8px;
  }

  .deal-date {
    margin-bottom: 0;
    padding: 4px;
  }
