.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 4px;
  color: $light-blue;
  background-color: $purple;
  z-index: 999;
}

.navbar-bottom .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 0;
}

.navbar-bottom .col {
  padding: 0;
}

.nav-icon {
  font-size: 36px;
}

.navbar-bottom .nav-link {
  padding: 0;
  display: block;
  text-align: center;
  line-height: 0.8;
}

.navbar-bottom .nav-link .nav-bar-text {
  font-size: 12px;
}

.navbar-bottom .avatar {
  display: block;
  margin: 0 auto;
}

.navbar-bottom .dropdown-menu {
  left: auto;
}

// Change colour when selected
.navbar-bottom .selected .nav-icon,
.navbar-bottom .selected .nav-bar-text {
  color: $orange;
}




// AT: This ensures that nothing is hidden behind the navbar
body {
  padding-bottom: 56px;
}


.dropdown-item {
  color: $purple;
  display: flex;
  align-items: center;
}

.dropdown-item-text {
  margin: 2px;
  color: $purple;
}

.dropdown-toggle.no-caret::after {
  display: none;
}
