// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

.geocoder {
  position: absolute;
  z-index: 1;
  width: 70%;
  left: 40%;
  margin-left: -25%;
  top: 130px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
